<mat-card class="pgn-container" appearance="outlined">
  <mat-card-content>
    <mat-form-field appearance="outline" class="pgn-container__field">
      <mat-label>PGN</mat-label>
      <textarea
        matInput
        [formControl]="control"
        rows="4"
        spellcheck="false"
        placeholder="1. e4 e5 2. Nf3 Nc6 3. Bb5 a6"
      ></textarea>
      @if (control.hasError('pgn')) {
        <mat-error>{{ control.getError('pgn') }}</mat-error>
      }
    </mat-form-field>

    @if (result().valid) {
      <ol class="pgn-container__grid" aria-label="Move-by-move board progression">
        @for (tile of tiles(); track $index; let i = $index) {
          <li class="pgn-container__tile">
            <button
              type="button"
              class="pgn-container__tile-button"
              (click)="openTile(i)"
              [attr.aria-label]="'View ' + tile.caption + ' fullscreen'"
            >
              <app-chess-board
                [fen]="tile.fen"
                [caption]="tile.caption"
                [from]="tile.from"
                [to]="tile.to"
                [highlighted]="highlightedPlies().has(tile.ply)"
              />
            </button>
            <span class="pgn-container__caption">{{ tile.caption }}</span>
          </li>
        }
      </ol>
    }
  </mat-card-content>
</mat-card>
