<mat-toolbar color="primary" class="header">
  <button
    matIconButton
    type="button"
    class="hamburger"
    aria-label="Toggle navigation menu"
    (click)="menuToggle.emit()"
  >
    <mat-icon fontSet="material-symbols-outlined">menu</mat-icon>
  </button>

  @let dark = themeService.theme() === 'dark';

  <img
    class="logo"
    [ngSrc]="dark ? 'assets/logo-dark.svg' : 'assets/logo-light.svg'"
    width="242"
    height="45"
    priority
    alt="Chessified"
  />

  <span class="spacer"></span>

  <button
    matIconButton
    type="button"
    [attr.aria-label]="dark ? 'Switch to light theme' : 'Switch to dark theme'"
    (click)="themeService.toggle()"
  >
    <mat-icon fontSet="material-symbols-outlined">{{ dark ? 'light_mode' : 'dark_mode' }}</mat-icon>
  </button>

  @if (auth.isSignedIn()) {
    <button
      matButton
      type="button"
      class="account"
      [matMenuTriggerFor]="accountMenu"
      [attr.aria-label]="'Signed in as ' + userLabel()"
    >
      <mat-icon fontSet="material-symbols-outlined">account_circle</mat-icon>
      <span class="account__label">{{ userLabel() }}</span>
    </button>
    <mat-menu #accountMenu>
      <div class="account__identity" mat-menu-item disabled>
        <mat-icon fontSet="material-symbols-outlined">badge</mat-icon>
        <span>{{ userLabel() }}</span>
      </div>
      <button mat-menu-item type="button" (click)="signOut()">
        <mat-icon fontSet="material-symbols-outlined">logout</mat-icon>
        <span>Sign out</span>
      </button>
    </mat-menu>
  } @else {
    <button matButton type="button" (click)="signIn()">
      <mat-icon fontSet="material-symbols-outlined">login</mat-icon>
      Sign in
    </button>
  }
</mat-toolbar>
