@if (node(); as node) {
  <div
    class="tree-node__row"
    [class.tree-node__row--selected]="selected()"
    [class.tree-node__row--drop-target]="dropActive()"
    role="treeitem"
    [attr.aria-selected]="selected()"
    [attr.aria-expanded]="isFolderNode() ? expanded() : null"
    [draggable]="!editing()"
    (dragstart)="onDragStart($event)"
    (dragend)="onDragEnd()"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave()"
    (drop)="onDrop($event)"
    (contextmenu)="onContextMenu($event)"
    (keydown.f2)="startRename()"
  >
    @if (editing()) {
      <input
        class="tree-node__rename"
        type="text"
        [formControl]="nameControl"
        (keydown.enter)="commitRename()"
        (keydown.escape)="cancelRename()"
        (blur)="commitRename()"
        [attr.aria-label]="'Rename ' + node.name"
      />
    } @else {
      <button class="tree-node__label" type="button" (click)="activate()">
        @if (isFolderNode()) {
          <mat-icon class="tree-node__chevron">{{
            expanded() ? 'expand_more' : 'chevron_right'
          }}</mat-icon>
        } @else {
          <span class="tree-node__chevron"></span>
        }
        <mat-icon class="tree-node__icon">{{ icon() }}</mat-icon>
        <span class="tree-node__name">{{ node.name }}</span>
      </button>

      <span class="tree-node__actions">
        <button
          matIconButton
          type="button"
          class="tree-node__action"
          (click)="startRename()"
          [attr.aria-label]="'Rename ' + node.name"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          matIconButton
          type="button"
          class="tree-node__action"
          (click)="confirmRemove()"
          [attr.aria-label]="'Delete ' + node.name"
        >
          <mat-icon>delete_outline</mat-icon>
        </button>
      </span>
    }
  </div>

  @if (isFolderNode()) {
    <div
      #contextTrigger
      class="tree-node__context-trigger"
      [matMenuTriggerFor]="folderMenu"
    ></div>
    <mat-menu #folderMenu>
      <button mat-menu-item type="button" (click)="newFileInFolder()">
        <mat-icon>note_add</mat-icon>
        <span>New file</span>
      </button>
      <button mat-menu-item type="button" (click)="newFolderInFolder()">
        <mat-icon>create_new_folder</mat-icon>
        <span>New folder</span>
      </button>
      <button mat-menu-item type="button" (click)="startRename()">
        <mat-icon>edit</mat-icon>
        <span>Rename</span>
      </button>
    </mat-menu>
  }

  @if (isFolderNode() && expanded()) {
    <ul class="tree-node__children" role="group">
      @for (child of children(); track child.id) {
        <li>
          <app-tree-node [nodeId]="child.id" />
        </li>
      } @empty {
        <li class="tree-node__empty">Empty folder</li>
      }
    </ul>
  }
}
